In [2]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv("pandas/foods.csv")
df["Gender"] = df["Gender"].astype("category")
df["City"] = df["City"].astype("category") 
df.head(4)

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
First Name    1000 non-null object
Gender        1000 non-null category
City          1000 non-null category
Frequency     1000 non-null object
Item          1000 non-null object
Spend         1000 non-null float64
dtypes: category(2), float64(1), object(3)
memory usage: 33.5+ KB