In [1]:
'''
str = "hello"
l=len(str);
l=l-1
strrev=""
for i in range(5):
    strrev+=str[l-i]
   
    
print(strrev)   
#print(revstr)'''



str="hello"
strrev=str[-1: :-1]
print(strrev)

olleh

In [67]:
s="abc"
print(s)
# s[0]="b"
s="def"
print(s)

abc
def

In [74]:
print(0o11+0o01)
print(0b11)

10
3

In [82]:
var = 3+2j
var1 =4+2j
def sum(img1,real):
    c=complex(img1,real)complex(3,4)
    return c
sum(2,3)

(0.72+0.04j)

In [92]:
a=10
c = 'string'
print("result is {} and {}".format(a,c))

result is 10 and string

In [102]:
import math
v = -2.6
print(math.floor(v))
print(math.trunc(-2.6))

-3
-2

In [106]:
print(2**300)

2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376

In [118]:
def sum():
    print(10)
eval('sum()')

10

In [1]:
tup1 = (1,2,3,4,5)
tup2 = ('A','b','t','Cuju')
tup = tup1+tup2
print(tup2.upper())

AttributeError: 'tuple' object has no attribute 'upper'

In [6]:
lst = [1,2,3,4,5,4,6,1]
tup = (6,7,8,9,10,2,4)
lst.sort()
print(lst)
del lst[10]
#lst.extend(tup)
#print(lst)

[1, 1, 2, 3, 4, 4, 5, 6]

IndexError: list assignment index out of range

In [5]:
for i in range(10):
 print(i,end='_')

0_1_2_3_4_5_6_7_8_9_

In [26]:
dict = {
    'name': 'ilaaf',
     'no' : 9797,
     'qual': 'BCA'
       } 
l=list(dict.keys())
print(l)
#print(dict)
#for i in dict:
   # print(i,end=":")
   # print(dict[i])
print(list(dict.keys()))

['name', 'no', 'qual']
['name', 'no', 'qual']

In [ ]:
# factorial using linked list
n = int(input("enter the number"))
fact = 1
def fact(n):
    if(n!=0):

In [90]:
import mysql.connector
mydatabase = mysql.connector.connect(
host = "localhost", user ="root", passwd ="root", database ="testschema")
mycursor = mydatabase.cursor()
mycursor.execute("create table IF NOT EXISTS customers(name varchar(10),address varchar(15))")
#mycursor.execute("show tables")
#sql = "insert into customers values(%s,%s)"
#val = ("arif","nawakadal")
#mycursor.execute(sql,val)
#mydatabase.commit()
mycursor.execute("select * from customers")
result = mycursor.fetchall()
for i in result:
    print(f"{name}:rowname")
#print(mycursor.rowcount,"rows deleted")

('john', 'highway')
('ilaaf', 'kashmir')
('shahid', 'hawal')
('arif', 'nawakadal')

In [95]:
x = "hello"
try:
    print(x)
except NameError:
    print("variable is not defined")
except:
    print("Oops Something went Wrong")
else:
    print("succesful")

hello
succesful

In [5]:
from colorama import init
init()
from colorama import Fore
print(Fore.RED + "Hello world" )

Hello world

In [6]:
<Directory "/var/www/cgi-bin">
   AllowOverride None
   Options ExecCGI
   Order allow,deny
   Allow from all
</Directory>
#!/usr/bin/python

print "Content-type:text/html\r\n\r\n"
print '<html>'
print '<head>'
print '<title>Hello Word - First CGI Program</title>'
print '</head>'
print '<body>'
print '<h2>Hello Word! This is my first CGI program</h2>'
print '</body>'
print '</html>'

SyntaxError: invalid syntax (<ipython-input-6-f32e7704ff3c>, line 1)

In [22]:
from numpy import *
#from array import *
arr = array([1,2,3,4,5,6])
for i in arr:
    print(f"{i}--->{type(i)}")
print(sin(arr))

1---><class 'numpy.int32'>
2---><class 'numpy.int32'>
3---><class 'numpy.int32'>
4---><class 'numpy.int32'>
5---><class 'numpy.int32'>
6---><class 'numpy.int32'>
[ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427 -0.2794155 ]

In [6]:
class Student:
    def __init__(self,x,y):
       # x = int(input("Enter the A"))
        #y = int(input("Enter the B"))
        self.x = x
        self.y = y

    def __add__(self,other):
        x = self.x + other.x
        y = self.y + other.y
        s = Student(x,y)
        return s
a = []
b = []
for i in range(2):
    x = int(input("Enter the number x\t"))
    a.append(x)
    y = int(input("Enter the number y\t"))
    b.append(y)
s1 = Student(*a)
s2 = Student(*b)
s3 = s1 + s2
print(f"s1 = {s1.x,s1.y}")
print(f"s2 = {s2.x,s2.y}")
print(f"Sum = {s3.x,s3.y}")

Enter the number x	1
Enter the number y	2
Enter the number x	4
Enter the number y	5
s1 = (1, 4)
s2 = (2, 5)
Sum = (3, 9)

In [14]:
class person:
    def __init__(self):
        print("No argument passed")
        self.x = 10
    def __init__(self,x):
        print("1 argument passed")      
        self.x = x
    def __init__(self,x,y):
        print("2 arguments passed")
        self.x = x
p = person(2,3)
print(p.x)

2 arguments passed
2

In [2]:
x <- 1:8 
for (i in x){ if (i ==7){ next } print(i) }

TypeError: 'int' object is not subscriptable